{% if inventory_hostname == 'rpi' %}
{% set records = internal_reverse_proxy_records %}
{% elif inventory_hostname == 'vps' %}
{% set records = external_reverse_proxy_records %}
{% else %}
{% set records = [] %}
{% endif %}
{% for record in records %}
{{ record.domain }} {
{% if record.tailnet_only | default(false) %}
	@public not remote_ip 100.64.0.0/10 fd7a:115c:a1e0::/48
	abort @public
{% endif %}
{% if record.tls_skip_verify | default(false) %}
	reverse_proxy {{ record.upstream }} {
		transport http {
			tls_insecure_skip_verify
		}
	}
{% else %}
	reverse_proxy {{ record.upstream }}
{% endif %}
}
{% endfor %}
